/*
Title: css_cheat_sheet_2025-12-11T02-31-32-256Z.css
Description: 
Date: 12/11/2025, 8:01:32 AM
*/

justify-content:
flex-start: Items align to the left side of the container.
flex-end: Items align to the right side of the container.
center: Items align at the center of the container.
space-between: Items display with equal spacing between them.
space-around: Items display with equal spacing around them